<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- 자바스크립트 인라인 사용 전 -->
<script>

    const username = [[${user.username}]]; // JS에서는 thymeleaf 문법이 안먹히므로, 에러발생함.
    const age = [[${user.age}]];

    //자바스크립트 내추럴 템플릿
    const username2 = /*[[${user.username}]]*/ "test username";  // <-------- /*myUser*/ 값이 들어가는데..이것도 브라우저에서 실행 시, Error 뜬다.

    //객체
    const user = [[${user}]]; // User 객체가 들어간다. 즉, javascript 에서는 쓸수가 없다.
</script>

<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript">
    const inlineUsername = [[${user.username}]];
    const inlineAge = [[${user.age}]];

    //자바스크립트 내추럴 템플릿
    // th:inline 으로 인해, /*[[${user.username}]]*/ 값이 실행된다. 뒤에 값이 아니라.
    const inlineUsername2 = /*[[${user.username}]]*/ "test username";

    //객체 -> JSON 으로 변경해서 넣어줌.
    const inlineUser = [[${user}]];
</script>

<!-- 자바스크립트 인라인 each -->
<script th:inline="javascript">

    [# th:each="user, stat : ${users}"]
    const eachInlineUser[[${stat.count}]] = "[[${user}]]";
    [/]

</script>

</body>
</html>
