<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 등록</h2>
    </div>

    <form th:action method="post" enctype="multipart/form-data">
        <ul>
            <li>
                <p>상품명</p>
                <input type="text" name="itemName">
            </li>
            <br/>
            <li>
                <p>첨부파일</p>
                <input type="file" name="attachedFile" >
            </li>
            <br/>
            <li>
                <p>이미지 파일</p>
                <input type="file" multiple="multiple" name="imageFiles" ></li>
        </ul>

        <br/>
        <div style="display: flex; align-content: center; justify-content: center;">
            <input type="submit"/>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>
